<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>

<body>

    <h1>Products</h1>

    <h2>Add product</h2>

    <form method="POST" action="{{ url_for('products.add_product') }}">

        <input type="text" name="name" placeholder="Product name" required>

        <input type="text" name="category" placeholder="Category" required>

        <input type="text" name="unit" placeholder="Unit" required>

        <button type="submit">Add product</button>
    </form>

    <hr>

    <h2>Product list</h2>

    {% if products %}

    <table border="1" cellpadding="8">

        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Unit</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>

            {% for product in products %}

            <tr>

                <td>{{ product.product_name }}</td>
                <td>{{ product.product_category }}</td>
                <td>{{ product.product_unit }}</td>

                <td>

                    <a href="{{ url_for(
                                'products.edit_product',
                                product_id=product.product_id
                            ) }}">
                        Edit
                    </a>

                    <form method="POST" action="{{ url_for(
                                      'products.delete_product',
                                      product_id=product.product_id
                                  ) }}" style="display: inline;">

                        <button type="submit">
                            Delete
                        </button>

                    </form>

                </td>

            </tr>

            {% endfor %}

        </tbody>


    </table>

    {% else %}

    <p>No products yet.</p>

    {% endif %}

</body>

<nav>
    <a href="{{ url_for('products.product_list') }}">Products</a>
    |
    <a href="{{ url_for('inventory.inventory_list') }}">Inventory</a>
</nav>

<hr>

</html>